@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Montserrat:wght@100;200;300;400&family=Nunito:wght@300;400;600;700;800&family=Raleway+Dots&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'nunito';
    width: 100%;
    height: 100vh;
    background-color: #E5F5E5;
    
}
.container{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* flex-direction: column; */
}
.header{
    background-color: #000173;
    height: 10%;
    position: absolute;
    width: 100%;
}
.navbar{
    display: flex;
    background: linear-gradient(329.54deg, #0B1773 0%, #000173 100%);
    /* background: linear-gradient(90deg, #ecf1ec 0%, #2DAD2B 100%); */
    width: 15%;

}
.form_01{
    display: flex;
    flex-direction: column;
    padding: 15%;
    margin-top: 5%;

}
.form_01 a{
    font-weight: bold;
    margin-top: 35%;
    text-decoration: none;
    color: #E5F5E5;
}
.form_01 a:hover{
    color: #b6bbb6;
}
.header img{
    z-index: 1;
    display: flex;
    margin-left: -0.99%;
    position: absolute;
    height: 120%;
    margin-top: -0.93%;
 

}
.avatar{
    border: 1px solid #000;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 95%;
    margin-top: 0.6%;
    background-color: #E5F5E5;
    
} 

table{
    display: flex;
    margin-left: 22%;
    margin-top: 15%;
    /* background-color: #000; */
    
    width: 800px;
}
th{
    height: 65px;
}
tr{
    height: 40px;

}
td{
    width: 200px;
    height: 66%;
    text-align: center;
}
table, th, td{
    border:1px solid #000;
}


