@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Montserrat:wght@100;200;300;400&family=Nunito:wght@300;400;600;700;800&family=Raleway+Dots&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'nunito';
    width: 100%;
    height: 100vh;
    background-color: #E5F5E5;
    
}
.container{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* flex-direction: column; */
}

 .div_form_01{
    display: flex;
    background: linear-gradient(329.54deg, #0B1773 0%, #000173 100%);
    /* background: linear-gradient(90deg, #ecf1ec 0%, #2DAD2B 100%); */
    width: 40%;

}
.div_form_01 img{
    height: 50%;
    margin-top: 8%;
    /* margin-top: 15%; */
    /* margin-left: 5%; */

}
.input_banco{
    margin-top: 10%;
    background: #E5F5E5;
    border: 1px solid #000000;
    border-radius: 9px;
    margin-left: 10%;
    height: 35px;
    width:380px;
}
.div_form_02{
    display: flex;
    background-color: #E5F5E5;
    /* background: linear-gradient(90deg, #ecf1ec 0%, #2DAD2B 100%); */
    width: 40%;
    height: 100%;
    flex-direction: column;

}

.form_02{
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 40%;
    margin-top: 18%;
}

.input{
    margin: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-top: 5%;
    height: 35px;
    width:360px;
}

.title{
    margin-top: 15%;
    margin-left: 10%;
    text-align: center;
    font-weight: 600;
    font-size: 47px;
    line-height: 42px;
    color: #FFFFFF;
    width: 100%;
    text-align: left;
}

#id_banco{
    
}


/*.container, .div_form_02{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(161, 158, 154);
    /* background-color: #E5F5E5; */
    
/*
.container, .div_form_01{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 100%;
    background: linear-gradient(90deg, #2DAD2B 0%, #053804 100%);


}
.container, .div_form_02{
    display: flex;

    flex-direction: column;
    background-color: #E5F5E5;
} */
